__pycache__/
.vscode/
.ipynb_checkpoints/


analysis/case1/fig_1.ipynb
analysis/case2/results/sankey_files/
analysis/case4/rubbish/
figs/
sup_figs/


/benchmark_models/models
/benchmark_models/scgpt

data/*
!data/data.md
/raw_data/*
!/raw_data/raw data.md

data_process1.py
data_process2.py

/results/*

!/results/pbmc9/
/results/pbmc9/*
!/results/pbmc9/unimap/
/results/pbmc9/unimap/*
!/results/pbmc9/unimap/2023/
/results/pbmc9/unimap/2023/best_model.pth
